WebServiceProject/src/main/webapp/wsdl/GustaveBikeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://app" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://app" xmlns:intf="http://app" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://app" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getBikeDisponibility">
    <complexType>
     <sequence>
      <element name="bikeId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBikeDisponibilityResponse">
    <complexType>
     <sequence>
      <element name="getBikeDisponibilityReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addBikeToCart">
    <complexType>
     <sequence>
      <element name="bikeId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addBikeToCartResponse">
    <complexType>
     <sequence>
      <element name="addBikeToCartReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="displayAllBikes">
    <complexType/>
   </element>
   <element name="displayAllBikesResponse">
    <complexType>
     <sequence>
      <element name="displayAllBikesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buyBike">
    <complexType>
     <sequence>
      <element name="bikeId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buyBikeResponse">
    <complexType>
     <sequence>
      <element name="buyBikeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getBikeDisponibilityRequest">

      <wsdl:part element="impl:getBikeDisponibility" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buyBikeResponse">

      <wsdl:part element="impl:buyBikeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addBikeToCartResponse">

      <wsdl:part element="impl:addBikeToCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addBikeToCartRequest">

      <wsdl:part element="impl:addBikeToCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayAllBikesResponse">

      <wsdl:part element="impl:displayAllBikesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayAllBikesRequest">

      <wsdl:part element="impl:displayAllBikes" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buyBikeRequest">

      <wsdl:part element="impl:buyBike" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBikeDisponibilityResponse">

      <wsdl:part element="impl:getBikeDisponibilityResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GustaveBikeService">

      <wsdl:operation name="getBikeDisponibility">

         <wsdl:input message="impl:getBikeDisponibilityRequest" name="getBikeDisponibilityRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBikeDisponibilityResponse" name="getBikeDisponibilityResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addBikeToCart">

         <wsdl:input message="impl:addBikeToCartRequest" name="addBikeToCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:addBikeToCartResponse" name="addBikeToCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayAllBikes">

         <wsdl:input message="impl:displayAllBikesRequest" name="displayAllBikesRequest">

       </wsdl:input>

         <wsdl:output message="impl:displayAllBikesResponse" name="displayAllBikesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buyBike">

         <wsdl:input message="impl:buyBikeRequest" name="buyBikeRequest">

       </wsdl:input>

         <wsdl:output message="impl:buyBikeResponse" name="buyBikeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GustaveBikeServiceSoapBinding" type="impl:GustaveBikeService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getBikeDisponibility">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBikeDisponibilityRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBikeDisponibilityResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addBikeToCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addBikeToCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addBikeToCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayAllBikes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="displayAllBikesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="displayAllBikesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buyBike">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buyBikeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buyBikeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GustaveBikeServiceService">

      <wsdl:port binding="impl:GustaveBikeServiceSoapBinding" name="GustaveBikeService">

         <wsdlsoap:address location="http://localhost:8080/WebServiceProject/services/GustaveBikeService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
